FINAPP_CONVEX_PORT=2608
FINAPP_CONVEX_SITE_PORT=2610
FINAPP_CONVEX_DASHBOARD_PORT=2611
FINAPP_EXPO_PORT=2609
FINAPP_EXPO_DEVTOOLS_PORT=2612
FINAPP_EXPO_LAN_PORT=2613
FINAPP_EXPO_TUNNEL_PORT=2614
EXPO_PUBLIC_APP_ENV=docker
EXPO_PUBLIC_CONVEX_URL=http://10.0.2.2:2608
EXPO_PUBLIC_METRO_URL=http://10.0.2.2:2609
EXPO_HOSTNAME=10.0.2.2
INSTANCE_NAME=finapp-local
INSTANCE_SECRET=replace-with-64-lowercase-hex-characters
